body {
 background: #000;
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff 
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

.header--2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-size: 42px;
    color:#fff
}

.p--2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.header--4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-size: 42px;
    color: #fff;
}

.header--5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-size: 42px;
    color: #fff;
}